<section
  class="py-md-5 certificate d-none d-md-block"
  style="background-color: #eef1e0"
>
  <div class="container">
    <div class="row g-3 align-items-stretch">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <h2 class="fw-bold text-dark mb-3 title-section-home">WHY YOU CAN<br />TRUST US</h2>
        <p class="text-secondary small mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt Lorem
        </p>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="p-4 bg-white rounded-4 shadow-custom h-100">
          <div class="d-flex align-items-center gap-2 mb-3">
            <img
              src="assets/images/cert-icon.svg"
              width="48"
              height="72"
              alt="icon"
            />
            <h6 class="fw-bold m-0 ms-1">Premium <br />Print Quality</h6>
          </div>
          <p class="text-secondary text-justify small m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt Lorem
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="p-4 bg-white rounded-4 shadow-custom h-100">
          <div class="d-flex align-items-center gap-2 mb-3">
            <img
              src="assets/images/global-icon.svg"
              width="70"
              height="62"
              alt="icon"
            />
            <h6 class="fw-bold m-0 ms-1">Secure Global <br />Shipping</h6>
          </div>
          <p class="text-secondary text-justify small m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt Lorem
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="p-4 bg-white rounded-4 shadow-custom h-100">
          <div class="d-flex align-items-center gap-2 mb-3">
            <img
              src="assets/images/paypal-icon.svg"
              width="78"
              height="61"
              alt="icon"
            />
            <h6 class="fw-bold m-0 ms-1">Trusted <br />Payment</h6>
          </div>
          <p class="text-secondary text-justify small m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt Lorem
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="p-4 bg-white rounded-4 shadow-custom h-100">
          <div class="d-flex align-items-center gap-2 mb-3">
            <img
              src="assets/images/headset-icon.svg"
              width="68"
              height="68"
              alt="icon"
            />
            <h6 class="fw-bold m-0 ms-1">24/7 Friendly <br />Support</h6>
          </div>
          <p class="text-secondary text-justify small m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt Lorem
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="p-4 bg-white rounded-4 shadow-custom h-100">
          <div class="d-flex align-items-center gap-2 mb-3">
            <img
              src="assets/images/heart-icon.svg"
              width="60"
              height="60"
              alt="icon"
            />
            <h6 class="fw-bold m-0 ms-1">Trustpilot <br />Reviews</h6>
          </div>
          <p class="text-secondary text-justify small m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt Lorem
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="my-3 py-2 d-block d-md-none"
  id="certificate"
  style="background-color: #eef1e0"
>
  <div class="container certificate-section text-color-second">
    <div class="row align-items-center">
      <div
        class="trustpilot-logo col-md-4 mb-md-4 py-2 py-md-3 mb-md-0 text-center text-md-start align-self-start non-pointer"
      >
        <h3 class="fw-bold text-uppercase title-section">WHY YOU CAN TRUST US ?</h3>
      </div>

      <!-- Swiper certificate -->
      <div class="col-md-8 position-relative">
        <div class="news-navigation">
          <div class="btn-nav certificate-prev">
            <i class="bi bi-chevron-left"></i>
          </div>
          <div class="btn-nav certificate-next">
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>

        <div class="swiper certificate-swiper">
          <div class="swiper-wrapper py-1 px-1 py-md-3 px-md-3">
            <div class="swiper-slide">
              <div class="p-3 bg-white rounded-4 shadow-custom h-100">
                <div class="d-flex flex-column align-items-center gap-3">
                  <img
                    src="assets/images/cert-icon.svg"
                    width="50"
                    height="63"
                    alt="icon"
                  />
                  <h6 class="fw-bold m-0 text-center">Premium Print Quality</h6>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-3 bg-white rounded-4 shadow-custom h-100">
                <div class="d-flex flex-column align-items-center gap-3">
                  <img
                    src="assets/images/global-icon.svg"
                    width="69"
                    height="63"
                    alt="icon"
                  />
                  <h6 class="fw-bold m-0 text-center">
                    Secure Global Shipping
                  </h6>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-3 bg-white rounded-4 shadow-custom h-100">
                <div class="d-flex flex-column align-items-center gap-3">
                  <img
                    src="assets/images/paypal-icon.svg"
                    width="63"
                    height="63"
                    alt="icon"
                  />
                  <h6 class="fw-bold m-0 text-center">Trusted Payment</h6>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-3 bg-white rounded-4 shadow-custom h-100">
                <div class="d-flex flex-column align-items-center gap-3">
                  <img
                    src="assets/images/headset-icon.svg"
                    width="60"
                    height="63"
                    alt="icon"
                  />
                  <h6 class="fw-bold m-0 text-center">24/7 Friendly Support</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
