<footer class="footer-style bg-pink text-white py-5">
  <div class="container">
    <div class="row g-4">
      <!-- Logo + Info -->
      <div class="col-12 col-md-6 col-lg-3 lh-lg">
        <div
          class="fw-bold bg-white text-dark d-inline-block px-5 py-2 rounded mb-3"
        >
          Logo
        </div>
        <p class="mb-1 lh-base">
          <span class="fw-bold">Address:</span> 3853 Youngstown Rd SE, Warren, Ohio, 44484,
          United States
        </p>
        <p class="mb-1"><span class="fw-bold">Email:</span> contact@gmail.com</p>
        <p class="mb-0"><span class="fw-bold">Phone:</span> (330) 369-4444</p>
      </div>

      <!-- Policies & Terms -->
      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="fw-bold mb-4">Policies & Terms</h6>
        <ul class="small lh-lg footer-links">
          <li> <a class="nav-link" href="#">Privacy Policy</a></li>
          <li> <a class="nav-link" href="#">Terms of Service</a></li>
          <li> <a class="nav-link" href="#">Refund Policy</a></li>
          <li> <a class="nav-link" href="#">Shipping Policy</a></li>
          <li> <a class="nav-link" href="#">Payment Policy</a></li>
          <li> <a class="nav-link" href="#">Cookies Policy</a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-6 col-md-6 col-lg-3">
        <h6 class="fw-bold mb-4">Customer Service</h6>
        <ul class="small lh-lg footer-links">
          <li> <a class="nav-link" href="#">Order Tracking</a></li>
          <li> <a class="nav-link" href="#">Contact Us</a></li>
          <li> <a class="nav-link" href="#">FAQs</a></li>
          <li> <a class="nav-link" href="#">Size Guide</a></li>
          <li> <a class="nav-link" href="#">Personalization Instructions</a></li>
        </ul>
      </div>

      <!-- Social & Payments -->
      <div class="col-12 col-md-6 col-lg-3">
        <h6 class="fw-bold mb-4">Follow Us</h6>
        <div class="mb-4 d-flex gap-4">
          <a href="#"><img src="assets/images/socials/fb.svg" height="34" width="34" /></a>
          <a href="#"><img src="assets/images/socials/instagram.svg" height="34" width="34" /></a>
          <a href="#"><img src="assets/images/socials/youtube.svg" height="34" width="43" /></a>
          <a href="#"><img src="assets/images/socials/printerest.svg" height="34" width="33" /></a>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <a href="#"><img src="assets/images/payments/Paypal.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/ApplePay.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/Visa.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/master-card.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/amex-icon.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/Discover.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/JCB.svg" height="49" width="68" /></a>
          <a href="#"><img src="assets/images/payments/UnionPay.svg" height="49" width="68" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
