<section class="pt-2 pb-4 py-md-5">
  <div class="container">
    <div
      class="position-relative sub-section text-white p-md-5 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <div
        class="d-flex flex-column justify-items-center align-items-center"
        style="z-index: 2; width: 100%"
      >
        <h4 class="fw-bold mb-2 text-white sub-title">
          Get 10% Off Your First Order
        </h4>
        <p class="mb-2 mb-md-4 text-white small sub-desc">
          Subscribe to our newsletter and receive a 10% discount code instantly!
        </p>

        <form
          class="sub-form d-flex flex-column flex-md-row align-items-stretch gap-3 custom-form-control-focus w-100"
        >
          <input
            type="email"
            class="form-control rounded-pill px-4 py-2"
            placeholder="your.email@gmail.com"
            required
            style="height: 50px"
          />
          <button
            type="submit"
            class="btn btn-primary-custom px-4 py-2 rounded-pill"
            style="height: 50px; white-space: nowrap"
          >
            Claim My Discount
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
