@import url("variables.css");

.header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Promo bar (FOMO) */
header .promo-bar {
  height: 45px;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  width: 100%;
}

header .promo-message {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  max-width: 60%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .country-info {
  font-size: 0.875rem;
  gap: 6px;
  white-space: nowrap;
}

.promo-bar .country-info-wrapper {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translateY(-50%);
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border-bottom: none !important;
  border-top: none !important;
}

/* Main header */
.main-header {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Logo */
header .logo {
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-block;
}

/* Search */
header .search-input.form-control {
  border: 1px solid var(--primary) !important;
  border-radius: 999px;
  padding-right: 3rem;
}

header .search-input::placeholder {
  color: #bbb;
}

header .btn-search {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

header .btn-search:focus,
header .btn-search:active,
header .btn-search:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Nav Menu */
header .menu-item {
  position: relative;
  color: var(--primary);
  font-weight: 600;
  display: inline-block;
  padding: 8px 12px;
  z-index: 1;
  transition: 0.3s;
}

header .menu-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ff5b6b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

header .menu-item:hover::before {
  opacity: 1;
}

header .menu-item:hover {
  color: #fff;
}

.text-color {
  color: var(--primary);
}
