/* reset.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-base) !important;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

a {
  text-decoration: none !important;
  /* color: inherit !important; */
}

a {
  transition: 0.2s ease;
}
/* a:hover {
  color: var(--primary);
} */

.form-select {
  cursor: pointer;
}

.form-select:focus {
  box-shadow: none !important;
  transition: var(--transition-fast);
  border-color: var(--text-color) !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

.custom-form {
  border-radius: 10px !important;
}

.custom-form::placeholder {
  color: #bdbdbd !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.custom-form:focus {
  box-shadow: none !important;
  border: 1px solid var(--text-color) !important;
}

.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
