@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("variables.css");
@import url("header.css");
@import url("responsive.css");

.footer-links li a {
  text-transform: capitalize;
  transition: all 0.4s ease;
  padding-left: 0;
}

.footer-links li a:hover {
  padding-left: 8px;
  color: #444444;
}

.trustpilot-stars i {
  color: #00b67a;
  font-size: 1.5rem;
  margin-right: 4px;
}

.testimonial-card {
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card .name {
  font-weight: 700;
  font-size: 20px;
}

.testimonial-card .location {
  font-size: 14px;
  color: #565656;
  font-style: italic;
}

.testimonial-card .text {
  font-style: italic;
  font-size: 15px;
  color: #444444;
}

.testimonial-swiper .swiper-slide {
  height: auto;
}

.testimonial-navigation {
  position: absolute;
  top: -40px;
  right: 0;
  display: flex;
  gap: 10px;
}

.testimonial-navigation .btn-nav {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--text-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.testimonial-navigation .btn-nav:hover {
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.card-custom {
  border-radius: 16px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-fixed {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.card-custom .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.btn-discover {
  font-size: 20px;
  height: 50px;
  padding: 13px 30px;
}

.section-product {
  font-size: 35px;
}

/* Product Categories */

.category-slide {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}

.category-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none !important;
  content: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: 0;
}

.category-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
  border-radius: 20px;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  z-index: 2;
}

/* Navigation buttons */
.swiper-category-wrapper {
  position: relative;
}
.swiper-category-wrapper:hover .category-nav {
  opacity: 1;
  visibility: visible;
}

.category-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 2;
}

.swiper-category-wrapper .category-nav:hover {
  background-color: var(--text-color);
  color: white;
}

.swiper-button-prev.category-nav {
  left: -20px;
}
.swiper-button-next.category-nav {
  right: -20px;
}

.sub-section::after,
.buy-more::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  z-index: 1;
}

.sub-section,
.buy-more > div {
  z-index: 2;
  position: relative;
}

.sub-section .btn-pink {
  background-color: var(--text-color);
  color: white;
  border: none;
}

.sub-section .btn-pink:hover {
  background-color: #f76c9f;
}

.custom-form-control-focus .form-control {
  border: 1px solid var(--text-color) !important;
}

.custom-form-control-focus .form-control::placeholder {
  color: #8f8f8f;
}

.custom-form-control-focus .form-control:focus {
  box-shadow: none;
  border: 2px solid var(--text-color) !important;
}

.certificate h6 {
  font-size: 20px !important;
}

.footer-style h6 {
  font-size: 18px !important;
}

/** Product **/

.btn-pink {
  background-color: var(--text-color);
  color: white;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
}

.btn-pink:hover {
  background-color: var(--text-color);
}

.custom-select-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 6px 10px 6px 16px;
  background-color: white;
  font-size: 14px;
  position: relative;
  white-space: nowrap;
}

.custom-select-wrapper:hover {
  border: 1px solid var(--text-color);
}

.custom-select-wrapper select {
  font-weight: normal !important;
}

.container .sort-by {
  margin-left: 21px;
}

.custom-select label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  padding: 6px 30px 6px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
  font-size: 12px;
} */

.pagination {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.pagination li {
  display: inline-block;
}

.page-btn {
  display: inline-block;
  padding: 6px 12px;
  min-width: 32px;
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.page-btn.active {
  background-color: var(--text-color);
  color: white;
}

.page-btn.disabled {
  color: #fbcacac2;
  pointer-events: none;
}

.page-btn:hover:not(.active):not(.disabled) {
  background-color: #fcd5d5;
}


/** Cart **/
.cart-section {

}

.cart-card {
  transition: box-shadow 0.3s;
}

.cart-card:hover {

}

.cart-title h5 {
  font-size: 1rem;
}

.cart-price span {
  color: #28a745;
}

.summary-card .checkout-btn span {
  font-size: 25px;
}

.cart-card, .summary-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.summary-checkout {
  font-size: 1rem;
}

.summary-payment-methods img {

}

.cart-meta {
  font-size: 13px;
  color: #9d9b9b;
}

.vertical-rounded-bar {
  position: relative;
  height: 55px;
  padding-left: 13px;
}

.vertical-rounded-bar::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #9d9b9b;
  border-radius: 50px;
}

.cart-delivery {
  font-size: 13px;
}

.checkout-container {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form-control button {
  border-radius: 10px;
}

.btn-paynow {
  background-color: #4BB232;
  border-radius: 10px;
}

.btn-paynow:hover {
  color: #4BB232 !important;
  border: 1px solid #4BB232;
}

.checkout-meta {
  border-left: 1px solid #9d9b9b;
  padding-left: 12px;
  font-size: 12px;
  color: #9d9b9b;
}

.icon-social {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper::before {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 5px;
  left: 49%;
  width: 1px;
  background-color: #D7D7D7;
}

.secure-checkout-box {
  border: 1px solid #d7d7d7;
  border-radius: 20px;
  padding-top: 32px;
  padding-bottom: 25px;
  background-color: #fff;
}

.secure-checkout-label {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 12px;
}

.qty-custom .btn {
  border-radius: 12px;
}

.qty-custom .btn:hover {
  background-color: var(--text-color) !important;
}




/* Checkout */



/* End-Checkout */